body{font-family: 'Slabo 13px', serif;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
color: skyblue;
}

.header{
	position: fixed;
	background-color: white;
    margin-right: 80px;
}
.strong{
	color: #47AEE1;
}
.h1{
	font-size: 50px;
}
.header-navigation {
	display: flex;
	
}
.header-navigation p{
	padding: 10px;
}
.logo{
	margin-left: 130px;
	height: 20px;
	margin-top: 25px;
}
.getexplore{
	background-color: blue;
    border: 2px;
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
}
.section-first{
	display: inline;
	margin-left: 150px;
	
}
.section-first {
	display: flex;
}
.section-first-div{
	margin-top: 100px;
}
.section-second{
	margin-top: 120px;
	padding: 35px;
	background-image: url('../photos/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
	display: flex;
	justify-content: center;
}
.div{
	box-shadow: 6px 6px 3px gray ;
	background-color: white;
	border: 2px;
    padding: 10px;
    border-radius: 25px;
    margin: 20px;
}
.section-third-div{
	margin-top: 50px;
	margin-left: 100px;
}
.footer{
	background-color:  #495254;
	margin-top: 70px;
}
.container-2{
	display: flex;
	justify-content: space-around;
}
.container-div{
	display: flex;
	align-items: baseline;
}
.container-div-2{
	display: flex;
	align-items: baseline;
}
.container-div-2 a{
	padding: 20px;
}
footer{
	padding-top: 50PX;
	justify-content: center;
}
.last-div{
	display: flex;
	justify-content: center;
}
.input-text{
	border-radius: 7px;
	border-color: white;
	width: 200px;
}
.input-text:hover{
	border-color: lightblue;
}
.input-submit{
	border-radius: 10px;
	background-color: blue;
	border-color: blue;
	width: 70px;
}
.icon-line {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
    width: 2px;
    display:inline-block;
    height: 100%;
    background-color:white;
}
.phone-number{
	color: rgba(15, 89, 83, 3.6);
}