body{
	background-color: #3cfffb;
}

.active{
	color: indianred;
}
.header ul, li{
	vertical-align: middle;
	display: inline;
    padding: 5px;
    margin-bottom: 20px;
   
}
.logo{
	margin-left: 30px;
	margin-top: 1em;
}

.facebook{
	padding: 20px;
	border-right: 0.1px solid;
}

.youtube{
	padding: 20px;
	}
.footer img{
	display: inline;
	margin-top: 10px;
}

p{
	font-size: 25px;
	font-family: sans-serif;
}
.marvel{
	box-shadow: 5px 10px 5px palevioletred;
	margin-top: 20px;
	margin-left: 30px;
}
.section-second{
	margin-left: 30px;
}
.map{
	margin: 30px;
}
a.section{
	font-size: 35px;
	padding: 20px;
}
